/* Container Base Styles */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1367px) {
    .container {
        max-width: 1367px;
    }
}

/* Container Wide Styles */
.container.-wide {
    width: 100%;
    max-width: 1920px;
    padding-left: 45px;
    padding-right: 45px;
}

@media (max-width: 1366px) {
    .container.-wide {
        width: 100%;
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }
}

.container.-wide > .row {
    margin-left: -15px;
    margin-right: -15px;
}

@media (max-width: 1366px) {
    .container.-wide > .row {
        margin-left: -25px;
        margin-right: -25px;
    }
}

.container.-wide .no-gutters {
    margin-right: 0;
    margin-left: 0;
}

/* Product List Banner Base Styles */
.o-productListBanner,
.o-productListContent {
    clear: both;
}

/* Navbar'ın hemen altında görünmesi için margin-top ekle */
#productListBanner {
    position: relative;
    margin-top: 184px; /* Navbar yüksekliği: topBar (40px) + middleBar (80px) + bottomBar (64px) */
    background-color: #fff;
}

@media (max-width: 1366px) {
    #productListBanner {
        margin-top: 184px;
    }
}

@media (max-width: 640px) {
    #productListBanner {
        margin-top: 164px;
    }
}

.o-productListBanner,
.o-productListContent > .ListLP_box,
.o-productListContent > .twelve.columns,
.o-productListSlider {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    float: none;
}

.o-productListBanner,
.o-productListSlider {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.o-productListBanner .columns,
.o-productListSlider .columns {
    min-height: 1px;
}

.o-productListBanner .columns:last-child,
.o-productListSlider .columns:last-child {
    margin-bottom: 20px;
}

.o-productListBanner img,
.o-productListSlider img {
    width: 100%;
    height: auto;
}

.o-productListBanner a,
.o-productListSlider a {
    display: flex;
}

/* Column Span Styles */
.o-productListBanner .one.column,
.o-productListBanner .one.columns,
.o-productListSlider .one.column,
.o-productListSlider .one.columns {
    grid-column: span 1 / auto;
}

.o-productListBanner .two.columns,
.o-productListSlider .two.columns {
    grid-column: span 2 / auto;
}

.o-productListBanner .three.columns,
.o-productListSlider .three.columns {
    grid-column: span 3 / auto;
}

.o-productListBanner .four.columns,
.o-productListSlider .four.columns {
    grid-column: span 4 / auto;
}

.o-productListBanner .five.columns,
.o-productListSlider .five.columns {
    grid-column: span 5 / auto;
}

.o-productListBanner .six.columns,
.o-productListSlider .six.columns {
    grid-column: span 6 / auto;
}

.o-productListBanner .seven.columns,
.o-productListSlider .seven.columns {
    grid-column: span 7 / auto;
}

.o-productListBanner .eight.columns,
.o-productListSlider .eight.columns {
    grid-column: span 8 / auto;
}

.o-productListBanner .nine.columns,
.o-productListSlider .nine.columns {
    grid-column: span 9 / auto;
}

.o-productListBanner .ten.columns,
.o-productListSlider .ten.columns {
    grid-column: span 10 / auto;
}

.o-productListBanner .eleven.columns,
.o-productListSlider .eleven.columns {
    grid-column: span 11 / auto;
}

.o-productListBanner .twelve.columns,
.o-productListSlider .twelve.columns {
    grid-column: span 12 / auto;
}

.o-productListBanner.-wide .o-fullSlider .twelve.columns,
.o-productListSlider.-wide .o-fullSlider .twelve.columns {
    padding: 0;
}

/* Media Queries for Product List Banner */
@media (min-width: 992px) {
    .o-productListBanner,
    .o-productListContent > .ListLP_box,
    .o-productListContent > .twelve.columns,
    .o-productListSlider {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .o-productListBanner,
    .o-productListContent > .ListLP_box,
    .o-productListContent > .twelve.columns,
    .o-productListSlider {
        max-width: 1200px;
    }
}

@media (min-width: 1366px) {
    .o-productListBanner,
    .o-productListContent > .ListLP_box,
    .o-productListContent > .twelve.columns,
    .o-productListSlider {
        max-width: 1366px;
    }
}

