:root {
  --white: #ffffff;
  --black: #000;
  --dark: #111;
}

@font-face {
  font-family: 'Buljirya';
  src: url('/font/Buljirya.otf') format('opentype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #171717;
  background: #f0ece8;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1367px) {
  .container {
    max-width: 1367px;
  }
}

/* Container Wide - Adamların kodundaki gibi */
.container.-wide {
  width: 100%;
  max-width: 1920px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1366px) {
  .container.-wide {
    width: 100%;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* Featured Categories (Adamlar referansı) */
.o-featuredCategories__title {
  width: 100%;
  padding: 24px 0;
  color: #111;
  font-family: TTNormsPro, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
}

@media (max-width: 991.98px) {
  .o-featuredCategories__title {
    font-size: 22px;
    margin-top: 16px;
    letter-spacing: 0.92px;
  }
}

.o-featuredCategories__banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.o-featuredCategories__links {
  flex-basis: 100%;
}

.o-featuredCategoriesBanner {
  position: relative;
  flex-basis: calc(25% - 12px);
  margin: 0 8px;
}

.o-featuredCategoriesBanner:first-child {
  margin-left: 0;
}

.o-featuredCategoriesBanner:last-child {
  margin-right: 0;
}

.o-featuredCategoriesBanner__link {
  display: flex;
}

.o-featuredCategoriesBanner__image,
.o-featuredCategoriesBanner img {
  width: 100%;
  height: 100%;
}

.o-featuredCategoriesBanner__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding-right: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: TTNormsPro, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.5px;
  text-align: right;
  text-decoration: underline;
}

.o-featuredCategoriesBanner__title:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 12px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='12'%3E%3Cpath d='M0 0l6 6-6 6z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50%;
}

@media (max-width: 991.98px) {
  .o-featuredCategoriesBanner__title {
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.43px;
  }

  .o-featuredCategoriesBanner__title:after {
    top: 3px;
  }
}

.o-featuredCategoriesLinks {
  display: none;
  flex-wrap: wrap;
  margin-top: 24px;
  font-family: TTNormsPro, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  list-style: none;
  padding-left: 0;
}

.o-featuredCategoriesLinks.-show {
  display: block;
}

.o-featuredCategoriesLinks__item {
  padding-right: 1.875rem;
  letter-spacing: 0.5px;
  list-style: none;
}

.o-featuredCategoriesLinks__link {
  color: #000;
  font-family: TTNormsPro, sans-serif;
  font-weight: 450;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}

.o-featuredCategoriesLinks__link:hover {
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .o-featuredCategoriesLinks {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    font-size: 12px;
  }

  .o-featuredCategoriesLinks__link {
    line-height: 16px;
  }
}

.o-ShowMoreContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.o-ShowMoreContent__btn {
  position: relative;
  width: 370px;
  height: 56px;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-bottom: 80px;
  border: 1px solid;
  color: #4a4a4a;
  font-family: TTNormsPro, sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.o-ShowMoreContent__btn:hover {
  background-color: #4a4a4a;
  color: #fff;
  opacity: 1;
}