.categorySlider {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 80px;
  text-align: center;
}

.categorySlider,
.categorySlider__container {
  position: relative;
}

.categorySlider__container.activated
  :global(.tns-controls [data-controls="prev"]) {
  opacity: 1;
}

.categorySlider__wrapper,
.categorySliderWrapper {
  display: flex;
  justify-content: center;
}

.categorySlider__wrapper:not(:global(.tns-slider)),
.categorySliderWrapper:not(:global(.tns-slider)) {
  overflow: hidden;
  justify-content: start;
}

.categorySlider__wrapper img,
.categorySliderWrapper img {
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
}

.categorySlider__wrapper.less-than-four,
.categorySliderWrapper.less-than-four {
  margin: 0 auto;
}

.categorySlider__wrapper.less-than-four .controls,
.categorySliderWrapper.less-than-four .controls {
  display: none;
}

.categorySliderNav {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.categorySliderNavItem {
  margin: 0 8px;
  padding: 0 32px 16px;
  font-family: 'Buljirya', TTNormsPro, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #6d6d6d;
  letter-spacing: 2px;
  text-transform: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.categorySliderNavItem:first-child {
  margin-left: 0;
}

.categorySliderNavItem:last-child {
  margin-right: 0;
}

.categorySliderNavItemActive {
  color: #111;
  border-color: #111;
}

.categorySliderTab {
  display: block;
  height: 0;
  opacity: 0;
  transition: all 0.25s linear;
  width: 0;
  pointer-events: none;
}

.categorySliderTabActive {
  height: auto;
  opacity: 1;
  width: auto;
  pointer-events: all;
}

.categorySliderItem:not(:global(.tns-item)) {
  flex-basis: calc(25% - 30px);
  margin-right: 30px;
  flex-grow: 0;
  flex-shrink: 0;
}

.categorySliderItem__image {
  display: inline-block;
}

.categorySliderItem__image img {
  transition: opacity 0.3s ease-in-out;
}

.categorySliderItem__image img[data-src]:not(:global(.loaded)) {
  opacity: 0;
}

.categorySliderItem__image img[data-src]:global(.loaded) {
  opacity: 1;
}

.categorySliderItemContent,
.categorySliderItem__content {
  display: flex;
  flex-direction: column;
  padding: 17px 20px 0 17px;
  text-align: center;
}

.categorySliderItemTitle,
.categorySliderItem__title {
  font-family: TTNormsPro, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #111;
  letter-spacing: 1px;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: uppercase;
}

.categorySliderItemDescription,
.categorySliderItem__description {
  font-family: TTNormsPro, sans-serif;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #6d6d6d;
  letter-spacing: 0.5px;
}

.categorySlider :global(.tns-liveregion) {
  display: none;
}

.categorySlider :global(.tns-outer) {
  overflow: hidden;
}

.controlsPrev,
.controlsNext {
  position: absolute;
  z-index: 1;
  top: 41%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1.5px #000;
  cursor: pointer;
  outline: none;
  background: hsla(0, 0%, 98.8%, 0.95);
  transition: all 0.15s linear;
  color: transparent;
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
}

.controlsPrev:hover,
.controlsNext:hover {
  box-shadow: inset 0 0 0 1px #000, 0 0 0 1px #000;
}

.controlsPrev {
  left: -28px;
}

.controlsPrev::before {
  content: "";
  width: 10px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.163 9L1.17 2.005a.6.6 0 010-.836.6.6 0 01.836 0l7.406 7.406a.6.6 0 010 .836L2.006 16.82a.583.583 0 01-.413.177.566.566 0 01-.413-.177.6.6 0 010-.836L8.163 9z' fill='%23111' stroke='%23111' stroke-width='.2'/%3E%3C/svg%3E");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.controlsNext {
  right: -28px;
}

.controlsNext::before {
  content: "";
  width: 10px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.163 9L1.17 2.005a.6.6 0 010-.836.6.6 0 01.836 0l7.406 7.406a.6.6 0 010 .836L2.006 16.82a.583.583 0 01-.413.177.566.566 0 01-.413-.177.6.6 0 010-.836L8.163 9z' fill='%23111' stroke='%23111' stroke-width='.2'/%3E%3C/svg%3E");
}

@media (min-width: 1200px) {
  .controlsPrev {
    left: -28px;
  }
}

@media (max-width: 991.98px) {
  .controlsPrev {
    left: 0;
  }

  .controlsNext {
    right: 0;
  }
}

.categorySlider .controls :global([data-controls="next"]),
.categorySlider .controls :global([data-controls="prev"]) {
  position: absolute;
  z-index: 1;
  top: 41%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1.5px #000;
  cursor: pointer;
  outline: none;
  background: hsla(0, 0%, 98.8%, 0.95);
  transition: all 0.15s linear;
}

.categorySlider .controls :global([data-controls="next"]:hover),
.categorySlider .controls :global([data-controls="prev"]:hover) {
  box-shadow: inset 0 0 0 1px #000, 0 0 0 1px #000;
}

.categorySlider .controls :global([data-controls="next"]:disabled),
.categorySlider .controls :global([data-controls="prev"]:disabled) {
  opacity: 0;
}

@media (min-width: 1200px) {
  .categorySlider .controls :global([data-controls="prev"]) {
    left: -28px;
  }
}

.categorySlider .controls :global([data-controls="prev"]:before) {
  content: "";
  width: 10px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.163 9L1.17 2.005a.6.6 0 010-.836.6.6 0 01.836 0l7.406 7.406a.6.6 0 010 .836L2.006 16.82a.583.583 0 01-.413.177.566.566 0 01-.413-.177.6.6 0 010-.836L8.163 9z' fill='%23111' stroke='%23111' stroke-width='.2'/%3E%3C/svg%3E");
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.categorySlider .controls :global([data-controls="next"]) {
  right: -28px;
}

@media (max-width: 991.98px) {
  .categorySlider .controls :global([data-controls="next"]) {
    right: 0;
  }
}

.categorySlider .controls :global([data-controls="next"]:before) {
  content: "";
  width: 10px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.163 9L1.17 2.005a.6.6 0 010-.836.6.6 0 01.836 0l7.406 7.406a.6.6 0 010 .836L2.006 16.82a.583.583 0 01-.413.177.566.566 0 01-.413-.177.6.6 0 010-.836L8.163 9z' fill='%23111' stroke='%23111' stroke-width='.2'/%3E%3C/svg%3E");
}

.categorySlider :global(.tns-nav) {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 4px;
  width: 100% !important;
}

.categorySlider :global(.tns-nav button) {
  width: 40px;
  height: 2px;
  border-radius: 0;
  margin: 0 4px;
  background: #d8d8d8;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
}

.categorySlider :global(.tns-nav button.tns-nav-active) {
  background: #111;
}
